*.root
*.json
*.dot
*.zip
*.log
*.tar.gz
*.pdf
*.npy
*.npz
*.png
validation*
test*
tmp*
data*
massif.*
*.C
*.h
*.sh
*.swp
.ipynb_checkpoints
gperf
log*
dune-vd-cfg/*
*~
*.db
*.csv
fall-production
__pycache__
input-*
temp
rebase-scan
*.h5
*.bz2
*.out
